.site-header {
  width: 100%;
  padding: 40px 0;
}

.site-header__home {
  display: block;
  width: fit-content;
  line-height: 0;
}

.site-header img {
  display: block;
  width: 142px;
  height: 48px;
}
@media (max-width: 767px) {
  .site-header { padding: 12px 0 32px; }
  .site-header img { width: 96px; height: 32px; }
}
