<main class="page-shell imprint-page">
  <div class="content content--green">
    <app-site-header [linked]="true" />

    <a class="back-link imprint-back" routerLink="/">
      <img src="img/Arrow 11.svg" alt="">
      <span>Startseite</span>
    </a>

    <article class="imprint-card">
      <h1>Impressum</h1>

      <dl>
        <dt>Name</dt>
        <dd>Fabian Glanzer</dd>
        <dt>Adresse</dt>
        <dd>Neue Frauengasse 8, 8750 Judenburg</dd>
        <dt>E-Mail</dt>
        <dd>Fabsdev@gmx.at</dd>
      </dl>
    </article>
  </div>
</main>
